body {
    background-color: white;
}


.logo .TPlogo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.word_logo .strong {
    color: #25408f;
}
.head-greetings strong {
  color: #25408f;
  font-size: 150px;
}
.head-greetings h1 {
  font-weight: 100px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 100px;
  text-shadow: 0px 10px 20px black;
}
.head-greetings h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #25408f;
  text-shadow: 0px 10px 20px black;
}
.head-greetings h2 {
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0px 10px 20px black;
}

.info_cluster {
    background-image: url('https://images.pexels.com/photos/32237/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-attachment: fixed;
    height: 1200px;
}
.banner {
    background-image: url('https://images.pexels.com/photos/3767406/pexels-photo-3767406.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
}
.banner2 {
    background-image: url('https://images.pexels.com/photos/433452/pexels-photo-433452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-attachment: fixed;
    height: 1200px;
}
.info_cont2 .b1 {
  border-radius: 80px;
  background-color: #25408f;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.8s;
  cursor: pointer;
  margin: 5px;
}

.info_cont2 .b1 p {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.8s;
}

.info_cont2 .b1 {
  border-radius: 80px;
  background-color: #25408f;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.8s;
  cursor: pointer;
  margin: 5px;
}

.info_cont2 .b1 p:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.8s;
}

.info_cont2 .b1:hover p {
  padding-right: 15px;
}

.info_cont2 .b1:hover p:after {
  opacity: 1;
  right: 0;
}

.info_cont3 .b2 {
  border-radius: 80px;
  background-color: #25408f;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.8s;
  cursor: pointer;
  margin: 5px;
}

.info_cont3 .b2 p {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.8s;
}

.info_cont3 .b2 {
  border-radius: 80px;
  background-color: #25408f;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.8s;
  cursor: pointer;
  margin: 5px;
}

.info_cont3 .b2 p:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.8s;
}

.info_cont3 .b2:hover p {
  padding-right: 15px;
}

.info_cont3 .b2:hover p:after {
  opacity: 1;
  right: 0;
}
