body {
    background-color: #65aff8;
}


.logo .TPlogo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.word_logo .strong {
    color: #25408f;
}
.head-greetings strong {
  color: #25408f;
  font-size: 150px;
}
.head-greetings h1 {
  font-weight: 100px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 100px;
  text-shadow: 0px 10px 20px black;
}
.head-greetings h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #25408f;
  text-shadow: 0px 10px 20px black;
}
.head-greetings h2 {
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0px 10px 20px black;
}