.toppollButton .topicButton{
    background-color: #ddd;
    border: none;
    border-radius: 10px; 
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-weight: 900;
    margin: 4px 2px;
    transition: 0.3s;
}
.toppollButton .topicButton:hover {
    background-color: #25408f;
    width: 200px;
    color: white;
    right: -20px;
    transition: all 0.8s;
    text-shadow: 0px 10px 20px black;
}

.tImage img {
  transition: transform 1s, filter 1s ease-in-out;
  filter: blur(2px);
  transform: scale(1);
}

.tImage:hover img {
  filter: blur(0);
  transform: scale(1);
}

.card{
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.05);
  text-shadow: 0px 10px 20px black;
  z-index: 1;
}

.navBack .b1 {
    background-color: #ddd;
    border: none;
    border-radius: 20px; 
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-weight: 900;
    margin: 4px 2px;
    transition: 0.3s;
}

.navBack .b1:hover {
    background-color: #25408f;
    width: 400px;
    color: white;
    right: -20px;
    transition: all 0.8s;
    font-size: 20px;
}

.option{
  transition: transform .2s;
}

.option:hover {
  transform: scale(1.5);
  z-index: 1;
}

.containContent img {
    border-radius: 10px;
    width: 750px;
}

.containContent h1 {
    font-weight: 100px;
    color: black;
    font-family: Courier;
    font-size: 80px;
    text-shadow: 0px 10px 20px black;
}

.containContent h5 {
    font-weight: bold;
    color: black;
    font-family: Courier;
    font-size: 20px;
}

.headingPick h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #25408f;
    text-shadow: 0px 10px 20px black;
    font-size: 150px;
}